<% if @product.errors.any? %>
  <%= pluralize(@product.errors, "error") %>
  prohibited this form from being saved
  <ul>
    <% object.errors.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
